{% extends 'layout.html' %}


{% block body %}
<form action='/addproducts' name="productspage" method="POST">
	<p> product name <input type="text" name="name" placeholder="product name" autofocus autocomplete="off"></p>
	<p>product price <input type="text" name="price" placeholder="price" autocomplete="off"></p>
	<p>product description <input type="text" width="300%" name="product_description" placeholder="describe product... " autocomplete="off"></p>
	
	<input type="submit" value ="Add prodcut" name="productspage">
</form>

{% endblock body %}