{% extends 'layout.html' %}

{% block body %}

<h1>Dashboard</h1>

	<h3>
	Welcome {{ session['username'] }} 
	</h3>
	<h3>
	You are now Logged in as {{ session['account_type'] }} </h3>
	</h3>

	{% if session['account_type']=="seller" %}

	<form action="/addproductspage" name="products" method="POST">

	
		<input type="submit" name="products" value="add products">
	</form><br>
	

	<form action="/products" name="products" method="POST">
	<input type="submit" name="products" value="see products already added">
	</form><br>

	{% else %}

	<form action="/products" name="products" method="POST">
	<input type="submit" name="products" value="see products">
	</form><br>


	{% endif %}

{% endblock body %}

