{% extends 'layout.html' %}

{% block body %}



<p>Hello!!!,{{ session['username'] }}, you have logged in as a {{ session['account_type'] }} </p>
<br>


	{% if session['account_type']=="seller" %}

	<form action="/addproductspage" name="products" method="POST">

	
		<input type="submit" name="products" value="add products">
	</form><br>
	

<form action="/products" name="products" method="POST">
<input type="submit" name="products" value="see products already added">
</form><br>

	{% else %}

<form action="/products" name="products" method="POST">
<input type="submit" name="products" value="see products">
</form><br>


	{% endif %}

{% endblock %}