{% extends 'layout.html' %}

{% block body %}


{% if session['account_type']=="buyer" %}
<div>
<form action="/searchproducts" method="POST">
	 <input type="text" name="search" placeholder="enter keywords here..."></p>
	 <input type="submit" name="search" value="search">
</form>	
</div>
{% endif %}
<ul>
{% for dict in result %}
<br>
	<ul class="list-group">
		<li class="list-group-item">name        :<b>{{ dict["product name"] }}</li></b>
		<li class="list-group-item">price       :<b>{{ dict["price"] }}</b></li>
		<li class="list-group-item">description :{{ dict["description"] }}</li>
		<li class="list-group-item">Seller name : {{ dict["username"] }}</li>
		{% if session['account_type']=="buyer" %}
		<form action="/add_to_cart" method="POST">
		<input name="product_id" type="hidden" value="{{dict['_id']}}">
		<input type="hidden" name="price" value="{{dict['price']}}">
		<input type="number" name="quantity" min="1" max="10" value="1">		
		<input type=submit value="Add to cart"> <br>	
		</form>
		{% endif %}
	</ul>
{% endfor %}
{% if session['account_type']=="buyer" %}
<a href ="/cart_page">check your cart</a><br>
{% endif %}
<a href = "/logout">logout</a>
 
{% endblock %}